<% layout("/layouts/boilerplate") %>
<a href="/product" class="back-link">Back to products</a>

<h2 class="mb-4">My Cart</h2>

<div id="cartItems"></div>

<h4 id="cartTotal" class="mt-4">Total: Rs. 0</h4>


<a href="/order" class="btn btn-success mt-3">Place Order</a>

<script src="/cart.js"></script>